<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>付费记录</title>
		<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="email=no">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/mui.min.css">
		<script type="text/javascript" src="js/vue.min2.2.js"></script>
		<script type="text/javascript" src="js/axios.min.js"></script>
		<script type="text/javascript" src="js/public.js"></script>
		<script type="text/javascript" src="js/polyfill.min.js"></script>
		<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
		<link href="css/mystrap.css" rel="stylesheet" type="text/css" />
		
		<link rel="stylesheet" href="css/style01.css">
		

		<script language="javascript" src="http://hovertree.com/ziyuan/jquery/jquery-2.2.0.min.js"></script>
		<script language="javascript" src="js/public.js"></script>
		<script type="text/javascript" src="js/vue-resource.min.js"></script>


	</head>

	<body>
		<script src="js/mui.min.js"></script>
		<script type="text/javascript">
			window.onload = function() {
				var appuser = sessionStorage.getItem("appuser");
				if(!appuser) {
					self.location = 'login.html';
				}
				var appUser = JSON.parse(appuser);
				var roomid = sessionStorage.getItem("roomid");
				var vw = new Vue({
					el: "#app",
					data: {
						message: "",
						sites: [],
						appuser: appUser
					},
					methods: {
						init: function() {
							this.$http.post(url, {
								appParam: JSON.stringify({
									action: "myShouldPayment",
									data: {
										roomid: roomid,
										PaymentStatus : "1,2"
									}
								})
							}, {
								emulateJSON: true
							}).then(function(res) {
								if(res.data.responsestatus == 0) {
									alert(res.data.message);
								} else {
									this.sites = res.data.data;
								}
							})
						}
					}
				})
				vw.init();
			}
		
		</script>
		
		<header class="mui-bar mui-bar-nav" >
			<a class=" mui-icon mui-action-back mui-icon-left-nav mui-pull-left" style="color:white">
				
			</a>
			<h1 class="mui-title">付费记录</h1>
		</header>
		<div class="mui-content" style="background: #FFFFFF;" id="app">
			
			<div class="mui-card" v-for="list in sites">
				<div class="mui-card-header">
					<p v-if="list.paymentstatus == 1">{{list.costName}}</p>
					<p v-if="list.paymentstatus == 2">{{list.costName}}(退费)</p>
				</div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						<p class='mui-ellipsis'>房屋：{{ list.buildNo }}-{{ list.unitNo }}-{{ list.roomNo }} </p>
						<p class='mui-ellipsis'>费率：{{ list.costrate }} </p>
						<p class='mui-ellipsis'>月数：{{ list.months }}</p>
						<p class='mui-ellipsis'>建筑面积：{{ list.buildarea }}</p>
						<p class='mui-ellipsis'>缴费时间：{{ list.paymentdate }} </p>
						<p class='mui-ellipsis'>支付金额：{{ list.account }}</p>
					</div>
				</div>
				<div class="mui-card-footer">
					<p class='mui-ellipsis'>支付人：{{ list.payer }}</p>
				</div>
			</div>
		</div>
	</body>

</html>